@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');*{
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

body {
  background-color: #130e14;
  height: 100vh;
  color: #00a82a;
  font: 1.3rem Inconsolata, monospace;
  /* text-shadow: 0 0 5px #C8C8C8; */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  color: #0065a8;
  padding: 10px;
}

form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #00a82a;
  padding: 10px;
}

div {
  border: 2px dashed #00a82a;
  padding: 10px;
}


input::placeholder {
  color: white;
}

input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #0065a8;
  color: white;
  font-size: 1rem;
}

button {
  background-color: #00a82a;
  border: 2px solid white;
  width: 70px;
}
